version: '3'

services:
  nginx:
    build:
      context: nginx
    container_name: nginx
    restart: always
    ports:
      - '9090:80'
    depends_on:
      - app
    networks:
      - desafio2-network


  app:
    build:
      context: node
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 50s docker-entrypoint.sh node index.js
    restart: always
    depends_on:
      - db
    tty: true
    ports:
      - "3000:3000"
    networks:
      - desafio2-network
    volumes:
      - ./node:/usr/src/app
  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0 --skip-grant-tables
    container_name: db
    restart: always
    tty: true
    networks:
      - desafio2-network
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=lascado

networks:
  desafio2-network:
    driver: bridge
