version: '3.3'

services:
  nginx:
    build:
      context: nginx
    container_name: nginx
    restart: always
    ports:
      - '8080:80'
    depends_on:
      - node
    networks:
      - node_nginx-network


  node:
    container_name: node
    entrypoint: dockerize -wait tcp://db:3306 -timeout 50s docker-entrypoint.sh
    restart: always
    build:
      context: node
    depends_on:
      - db
    tty: true
    ports:
      - "3000:3000"
    networks:
      - node_nginx-network
    volumes:
      - ./node:/usr/src/app
  db:
    build:
      context: mysql
    command: --innodb-use-native-aio=0 --skip-grant-tables
    container_name: db
    restart: always
    tty: true
    networks:
      - node_nginx-network
    volumes:
      - ./mysql/volume:/var/lib/mysql

    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=lascado

networks:
  node_nginx-network:
    driver: bridge
